* {
  line-height: 1.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  margin-top: 6rem;
  padding: 2rem;
}

h1,
h2,
h3 {
  font-size: 18px;
}

li {
  list-style: circle;
  list-style-type: disc;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 3.5rem;
  margin-inline-end: 0;
  padding-inline-start: 1rem;
  unicode-bidi: isolate;
  font-size: 1.1rem;
}

p {
  line-height: 1rem;
  text-align: justify;
  font-size: 13px;
  font-weight: 400;
  margin: 1rem 0;
  color: #011140;
}

.wrapper h1 {
  margin: 1rem 0;
}

.wrapper h2 {
  margin: 2rem 0;
}
