<div class="container">
  <app-navbar-component></app-navbar-component>

  <div class="content">
    <div class="wrapper">
      <h1>Política Anticorrupção</h1>
    </div>

    <div class="wrapper">
      <h2>1. Objetivo</h2>
      <p>
        Com o objetivo de fortalecer o compromisso da KnowBI com as boas
        práticas e em consonância com a Lei 12.846, conhecida como Lei
        Anticorrupção, o conteúdo apresentado nesta política tem a finalidade de
        esclarecer quais são as práticas que devem ser totalmente evitadas no
        ambiente corporativo, na sociedade e nas relações diretas e/ou indiretas
        com as entidades públicas e privadas, nacionais e estrangeiras.
      </p>
      <p>
        A política destina-se à alta administração, colaboradores, prestadores
        de serviço, fornecedores ou clientes. Serve, portanto, para apresentar,
        de forma rápida e objetiva, as normas e fundamentos da legislação, bem
        como ainda a indicação de ações preventivas que podem ser adotadas pelas
        empresas e dirigentes, com o intuito de evitar a prática dos atos
        lesivos.
      </p>
      <p>
        Para fortalecer ainda mais os compromissos por nós assumidos está
        política tem por finalidade esclarecer os procedimentos anticorrupção
        praticados pela KnowBI, bem como estabelecer padrões comportamentais em
        casos que aparentem ou caracterizem qualquer tipo de corrupção contra a
        administração pública, privada, mista ou do terceiro setor, seja ela
        nacional ou estrangeira. É de responsabilidade de todos, sem qualquer
        exceção, conhecer e aplicar os conceitos e a legislação em vigor, em
        qualquer País nos quais a KnowBI tenha sede ou escritórios ou em que
        faça negócios.
      </p>
      <p>
        A KnowBI reitera que não tolera e não tolerará qualquer forma de
        corrupção direta ou indireta, ativa ou passiva, como o aceite ou
        oferecimento de suborno, por parte de seus sócios, acionistas,
        dirigentes, funcionários, colaboradores, clientes ou prestadores de
        serviço.
      </p>
      <p>
        Em caso de desvio e prática de ato ilícito, a KnowBI se compromete a
        investigar e aplicar todas as punições cabíveis.
      </p>
    </div>

    <div class="wrapper">
      <h2>2. Conceitos</h2>
      <p>
        2.1 <strong>Corrupção</strong> – oferecer, prometer, dar, aceitar ou
        solicitar vantagem indevida (de qualquer natureza) a agente público
        nacional ou estrangeiro.
      </p>
      <p>Dentre as várias formas de corrupção, podemos citar:</p>
      <p style="padding-left: 40px">
        a. pagamento de propinas para um cliente depois de assinado o
        contrato;<br />
        b. os subornos realizados como forma de induzir uma tomada de decisão
        que seja ilegal, anti-ética ou uma quebra de confiança por deixar de
        agir;<br />
        c. o pagamento de facilitações, normalmente de valor não expressivo
        feito para garantir ou acelerar o desempenho de uma rotina ou a ação
        necessária a que o pagador tenha direito, legalmente ou não;<br />
        d. as doações beneficentes, os patrocínios, as viagens e as despesas
        promocionais, embora sejam atividades legítimas, devem ser observados os
        limites impostos pela legislação aplicável.
      </p>
      <p>
        <strong>Práticas que podem ser caracterizadas como corrupção:</strong>
      </p>
      <p>
        Atos dirigidos a entidades governamentais, sindicatos, partidos
        políticos, funcionários públicos , autarquias ou empresas nacionais e
        estrangeiras, incluindo-se a(o) esposa(o), o(s) filhos(s) dos
        funcionários e demais parentes por consanguinidade e por afinidade:
      </p>
      <p style="padding-left: 40px">
        a. Dar, prometer ou oferecer propina;<br />
        b. Dar, prometer ou oferecer brindes, presentes, gratificações, ajuda de
        custo, exceto os institucionais de baixo valor, como cadernos,
        calendários etc.;<br />
        c. Pagar, prometer ou oferecer viagens, hospedagens, passagens
        aéreas,;<br />
        d. Prometer, oferecer ou pagar despesas com entretenimento, tais como
        jogos esportivos, shows, peças de teatro etc.
      </p>
      <p>
        Em caso de surgirem dúvidas, antes da tomada de qualquer decisão ou ação
        que possa vir a, de qualquer forma, ser caracterizada como corrupção, o
        comitê de ética deve ser imediatamente notificado e apontar a conduta a
        ser adotada.
      </p>
      <p>
        Reforçamos que todos os colaboradores e prestadores de serviços, não têm
        autorização para adotar qualquer comportamento que contrarie o disposto
        na Política Anticorrupção da KnowBI, independente do cargo que ocupe ou
        das funções que desempenhe na organização.
      </p>
      <p>
        Condutas intencionais ou omissivas que possam comprometer a imagem e a
        credibilidade da KnowBI não serão toleradas. E, ressaltamos que, é
        responsabilidade de todos aqueles que se relacionem com a KnowBI o
        auxílio no processo de disseminação das regras e conceitos trazidos
        nesta política em todos os níveis e alçadas.
      </p>
      <p>
        2.2 <strong>Atos Lesivos</strong> –qualquer ato, intencional ou por
        omissão, que viole direitos ou que causem danos a terceiros.
      </p>
      <p>Compreendem, dentre outros:</p>
      <p style="padding-left: 40px">
        a. comprovadamente, financiar, custear, patrocinar ou de qualquer modo
        subvencionar a prática dos atos previstos nesta Lei;<br />
        b. comprovadamente, utilizar-se de interposta pessoa física ou jurídica
        para ocultar ou dissimular seus reais interesses ou a identidade dos
        beneficiários dos atos praticados;<br />
        c. no tocante a licitações e contrato públicos:
      </p>
      <p style="padding-left: 80px">
        i. frustrar ou fraudar, mediante ajuste, combinação ou qualquer outro
        expediente, o caráter competitivo de procedimento licitatório
        público;<br />
        ii. impedir, perturbar ou fraudar a realização de qualquer ato de
        procedimento licitatório público;<br />
        iii. afastar ou procurar afastar licitante, por meio de fraude ou
        oferecimento de vantagem de qualquer tipo;<br />
        iv. fraudar licitação pública ou contrato dela decorrente;<br />
        v. criar, de modo fraudulenta ou irregular, pessoa jurídica para
        participar de licitação pública ou celebrar contrato administrativo;<br />
        vi. obter vantagem ou benefício indevido, de modo fraudulento, de
        modificações ou prorrogações de contratos celebrados com a administração
        pública, sem autorização em lei, no ato convocatório da licitação
        pública ou nos respectivos instrumentos contratuais; ou<br />
        vii. manipular ou fraudar o equilíbrio econômico-financeiro dos
        contratos celebrados com a administração pública;<br />
        viii. dificultar atividade de investigação ou fiscalização de órgãos,
        entidades ou agentes públicos, ou intervir em sua atuação, inclusive no
        âmbito das agências reguladoras e dos órgãos de fiscalização do sistema
        financeiro nacional.
      </p>
      <p>
        2.3 <strong>Agente Público</strong> – é todo aquele que presta qualquer
        tipo de serviço ao Estado, “que exerce, ainda que transitoriamente ou
        sem remuneração, por eleição, nomeação, designação, contratação ou
        qualquer outra forma de investidura ou vínculo, mandato, cargo, emprego
        ou função nas entidades mencionadas no artigo anterior”. (Lei nº
        8.429/92 – Lei de Improbidade Administrativa).
      </p>
      <p>
        Considera-se agente público o servidor público, o empregado público, o
        terceirizado e o contratado por tempo determinado.
      </p>
      <p style="padding-left: 40px">
        a. Funcionários de empresas estatais como o Banco Central, a Secretaria
        da Receita Federal, o INSS, Consulados, Cartórios etc.;<br />
        b. Políticos e candidatos a cargos políticos;<br />
        c. Funcionários dos Poderes Executivo, Legislativo e Judiciário, e de
        órgãos fiscalizadores como a ANATEL, a ANEEL, o IBAMA etc., incluindo os
        órgãos estrangeiros;<br />
        d. Prestadores de serviços que atuam em órgãos públicos.
      </p>
      <p>
        2.4 <strong>Omissão</strong> – entende-se por omissão algo que deixa de
        ser feito quando a pessoa estaria obrigada a fazê-lo por norma jurídica,
        ou teria condições para tal.
      </p>
      <p>
        2.5 <strong>Suborno</strong> – considera-se suborno qualquer
        oferecimento, pagamento ou promessa a uma autoridade pública,
        governante, funcionário público e demais profissionais em troca de
        favores feitos por estes que favoreça de modo particular o corruptor.
      </p>
      <p>
        2.6 <strong>Fraude</strong> – a ação ilícita e desonesta, caracterizada
        pela falsificação de produtos, documentos, marcas, etc. O propósito da
        fraude é enganar outras pessoas para garantir benefício próprio ou de
        terceiros.
      </p>
    </div>

    <div class="wrapper">
      <h2>3. Diretrizes Gerais</h2>
      <p>
        3.1 Não é aceito e nem tolerado nenhum tipo de ato corrupto sem qualquer
        distinção, seja ela de cunho público ou privado, nacional ou
        estrangeiro, conforme o disposto na Lei n.º 12.846/2013.
      </p>
      <p>
        3.2 É vedado qualquer tipo de vantagem indevida a agente público ou as
        pessoas relacionadas a ele, como amigos, parentes, sociedades ou que
        detenham qualquer tipo de relacionamento próximo.
      </p>
      <p>
        3.3 Todos os atos e transações com agentes públicos deverão ser
        documentados e registrados.
      </p>
      <p>
        3.4 É expressamente proibida qualquer atitude que se configure corrupção
        privada.
      </p>
      <p>
        3.5 Todo e qualquer relacionamento entre terceiros deve obedecer à
        legislação anticorrupção, evitando que danos ou consequências que possam
        vir de encontro às diretrizes e a reputação da KnowBI.
      </p>
      <p>
        3.6 As diretrizes presentes nesta política anticorrupção se aplicam a
        todo o território, seja ele nacional ou internacional, respeitando e
        obedecendo as legislações locais.
      </p>
      <p>
        3.7 Comprovado o objeto que foi contratado e a sua respectiva
        contraprestação financeira, serão autorizados os pagamentos às pessoas
        do terceiro setor ou de setor privado, não podendo em nenhuma hipótese
        ser realizado qualquer pagamento a outros destinatários beneficiários de
        pessoa física ou jurídica de terceiros.
      </p>
      <p>
        3.8 Qualquer pagamento realizado em nome de pessoas ou empresas que não
        estejam cadastradas ou façam parte da transação contratual, deverão ser
        previamente comunicadas à área de Gestão de Contratos do Administrativo
        Financeiro, pelo email
        <a href="mailto:suporte@knowbi.com.br">suporte&#64;knowbi.com.br</a>
        ou pelo telefone (91) 0000-0000.
      </p>
      <p>
        3.9 Manteremos os colaboradores e prestadores de serviços capacitados
        quanto às políticas e diretrizes antifraude e corrupção, por meio de
        palestras, treinamentos, congressos e qualquer atividade que nos permita
        alinhar sobre os atos de corrupção, punições, consequências.
      </p>
      <p>
        3.10 É proibido o pagamento qualificado como facilitador, se você tiver
        dúvida em relação a esse termo ou se um pagamento é legítimo ou não,
        entre em contato com o nosso canal de esclarecimento através do número
        (91) 0000-0000 ou via endereço eletrônico
        <a href="mailto:suporte@knowbi.com.br">suporte&#64;knowbi.com.br</a>.
      </p>
    </div>

    <div class="wrapper">
      <h2>4. Penalidades e Sanções</h2>
      <p>
        O descumprimento desta Política sujeitará o infrator a ações
        disciplinares, incluindo a rescisão contratual e/ou à aplicação de
        medidas disciplinares ou criminais, sem prejuízo de outras penalidades
        ou medidas cabíveis de acordo com a legislação em vigor.
      </p>
      <p>
        a. <strong>Para os colaboradores ou prestadores de serviço</strong> –
        rescisão dos respectivos contratos de trabalho e/ou de prestação de
        serviços e, a depender da gravidade do ato ilícito praticado, adoção das
        medidas judiciais cabíveis, sem prejuízo de indenização devida à KnowBI
        por danos que esta tenha sofrido em sua credibilidade, imagem, relações
        comerciais ou, ainda, das custas e honorários judiciais por ela arcados
        em ações judiciais em que tenha sido demandada em decorrência da
        violação;
      </p>
      <p>
        b. <strong>Para a empresa</strong> – As empresas que cometerem atos
        ilícitos serão responsabilizadas administrativamente e a elas serão
        aplicadas as seguintes sanções:
      </p>
      <p style="padding-left: 40px">
        i. multa, variando de 0,1% (zero vírgula um por cento) a 20% (vinte por
        cento) do faturamento bruto (que equivale aos valores decorrentes das
        operações de venda de mercadorias ou prestações de serviços) do último
        exercício anterior ao da instauração do processo administrativo,
        excluídos os tributos, a qual nunca será inferior à vantagem auferida,
        quando for possível sua estimação; e<br />
        ii. publicação extraordinária da decisão condenatória em meios de
        comunicação de grande circulação na área da prática da infração e de
        atuação da pessoa jurídica ou, na sua falta, em publicação de circulação
        nacional, bem como por meio de afixação de edital, pelo prazo mínimo de
        30 (trinta) dias, no próprio estabelecimento ou no local de exercício da
        atividade, de modo visível ao público, e no site da empresa;<br />
        iii. obrigação de reparação integral do dano causado em decorrência do
        ato ilícito praticado.
      </p>
      <p><strong>As sanções serão aplicadas considerando-se:</strong></p>
      <p style="padding-left: 40px">
        a. A gravidade da infração;<br />
        b. A vantagem auferida ou pretendida pelo infrator;<br />
        c. O grau de lesão ou perigo de lesão;<br />
        d. O efeito negativo produzido pela infração;<br />
        e. A situação econômica do infrator;<br />
        f. A cooperação da pessoa jurídica para a apuração das infrações;<br />
        g. A existência de procedimentos internos de integridade e incentivo à
        denúncia de irregularidades, cujos parâmetros serão estabelecido sem
        regulamento do Poder Executivo Federal e a aplicação efetiva de códigos
        de ética e de conduta no âmbito da pessoa jurídica;<br />
        h. O valor dos contratos mantidos pela pessoa jurídica com o órgão ou
        entidade pública lesados.
      </p>
    </div>

    <div class="wrapper">
      <h2>5. Ações para evitar fraudes e corrupção</h2>
      <p>
        A KnowBI está, constantemente, executando ações e revendo as práticas
        instituídas para evitar a ocorrência de fraudes e corrupções sendo
        praticada por seus colaboradores de forma intencional ou por omissão. E
        dentre essas práticas estão:
      </p>
      <p style="padding-left: 40px">
        a. divulgação desta política para todos os seus colaboradores e
        prestadores de serviços, bem como as demais políticas internas, em
        consonância à legislação vigente e que expressam os valores defendidos e
        praticados pela empresa;<br />
        b. disponibiliza um canal de comunicação direta, pelo e-mail
        <a href="mailto:suporte@knowbi.com.br">suporte&#64;knowbi.com.br</a> e
        pelo comitê de ética, para esclarecimento de dúvidas, recebimento de
        denúncias e sugestões,<br />
        c. não são aceitas despesas de colaboradores ou terceiros que possam ser
        enquadradas como atos de corrupção;<br />
        d. faz auditorias interna visando monitorar e fiscalizar o atendimento
        às diretrizes e práticas estabelecidas nesta política por todos aqueles
        que estejam envolvidos com o desempenho das atividades do negócio;<br />
        e. não aceita documentos de natureza diversa das de gastos incorridos e
        relacionados exclusivamente a trabalho;<br />
        f. não autoriza a realização de gastos ou eventos com funcionários
        públicos, além daqueles previstos e permitidos nas políticas
        internas;<br />
        g. pauta sua conduta com fornecedores e terceiros em critérios éticos e
        na aplicação das práticas de boa governança corporativa.
      </p>
    </div>

    <div class="wrapper">
      <h2>
        6. Contratos realizados com parceiros, fornecedores e prestadores de
        serviços
      </h2>
      <p>
        6.1 Todos os parceiros, fornecedores, prestadores de serviços ou
        colaboradores deverão assumir o controle e fiscalizar, bem como
        monitorar corretamente todos aqueles com que se relaciona para que a
        KnowBI não seja responsabilizada indevidamente.
      </p>
      <p>
        6.2 A partir do momento da assinatura contratual, o colaborador deve
        avaliar todos os meios e informações sobre o terceiro com quem está se
        relacionando, seja por meio do histórico cadastral, reputação ou
        qualquer tipo de dado que tenha acesso.
      </p>
      <p>
        6.3 É dever dos colaboradores informar aos terceiros sobre o respeito e
        cumprimento que deve existir em relação ao que contém na política de
        Anticorrupção da KnowBI, bem como na legislação e nas políticas
        internas.
      </p>
      <p>
        6.4 Qualquer situação que viole este documento deverá ser informada ao
        comitê de ética, para ser analisada e submetida à avaliação dos
        responsáveis.
      </p>
    </div>
  </div>

  <app-footer-component></app-footer-component>
</div>
