* {
  line-height: 1.6rem;
}

a {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  margin-top: 6rem;
  padding: 2rem;
}

h1,
h2,
h3 {
  font-size: 15px;
  margin: 2rem 0;
}

p {
  text-align: justify;
  font-size: 13px;
  font-weight: 400;
  margin: 1rem 0;
  color: #011140;
}

.wrapper {
  margin: 1rem 0;
}
