* {
  background: none;
  line-height: 1.6rem;
  overflow-x: hidden;
}

.center {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  flex-direction: column;
  width: 100%;
}

.welcome_solutions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 100vh;
  margin-top: 3rem;
}

.welcome_solutions svg {
  width: 70rem;
  height: max-content;
}

.logo-support {
  margin-top: 15px;
  width: 80rem;
  -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.2s;
}

.solutions_description {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.7s;
}

.solutions_description h1 {
  color: #081c88;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  font-weight: 200;
  height: 52px;
  display: flex;
  align-items: center;
}

h2 {
  font-weight: 200;
  height: 52px;
  display: flex;
  align-items: center;
}

.solutions_description p {
  color: #212529;
  width: 65%;
  text-align: left;
}

.demonstration {
  border: solid 2px #0f25a2;
  background-color: #fff;
  border-radius: 50px;
  color: #0f25a2;
  width: 22rem;
  height: 45px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 14px;
  margin-top: 3rem;
}

.demonstration:hover {
  background-color: #0f25a2;
  color: #fff;
}

.solution_benefits {
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.benefits-logo {
  width: 40px;
}

.solution_benefits h2 {
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 5rem;
}

.solution_benefits p {
  font-weight: bold;
}

.solution_benefits span {
  color: #717171;
}

.benefits_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}

.card_benefit {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 40vh;
  row-gap: 1rem;
  width: 22rem;
  margin: 0 10px;
}

.card_benefit svg {
  height: 3rem;
  width: max-content;
}

.characteristics {
  flex-direction: column;
  width: 58%;
}

.card_characteristics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68vh;
}

.card_characteristics:nth-child(1),
.card_characteristics:nth-child(3) {
  background-color: rgba(44, 77, 255, 0.05);
}

.card_characteristics:nth-child(3) {
  height: 56vh !important;
}

.card_characteristics img {
  height: max-content;
  width: 25rem;
  border-radius: 0.2rem;

  display: block;
  overflow: hidden;

  transform: scale3d(1, 1, 1);
  transition: transform 1s ease-in-out;
}

.container_characteristics {
  color: #717171;
  width: 85%;
}

.container_characteristics h4 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-weight: 200;
  height: 52px;
  display: flex;
  align-items: center;
}

.container_characteristics p {
  margin-bottom: 1.6rem;
}

@media screen and (max-width: 1200px) {
  * {
    font-size: 13px;
  }

  .demonstration {
    font-size: 12px;
    width: 16rem;
  }

  .characteristics {
    margin-left: 25px;
  }
}

@media screen and (max-width: 850px) {
  .solutions_description h1 {
    margin-bottom: 0;
    font-size: 30px;
  }
  .card_benefit {
    height: 43vh;
  }

  .card_characteristics {
    height: 75vh;
  }
}

@media screen and (max-width: 770px) {
  .card_benefit {
    height: 46vh;
  }

  .card_characteristics {
    height: 84vh;
  }

  .container_characteristics h4 {
    font-size: 18px;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .solutions_description h1 {
    margin-bottom: 0;
    font-size: 25px;
  }

  .container_characteristics h4 {
    font-size: 17px;
  }

  .solution_benefits {
    margin-bottom: 0;
  }

  .card_benefit {
    height: 41vh;
  }

  .benefits_content {
    flex-direction: column;
  }

  .card_characteristics {
    height: 90vh;
  }
}

@media screen and (max-width: 550px) {
  .welcome_solutions {
    flex-direction: column-reverse;
    width: 95%;
    height: 80vh;
    margin-top: 9rem;
  }

  .solutions_description {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solutions_description p {
    width: 95%;
  }

  .logo-support {
    width: 10rem;
  }

  .demonstration {
    font-size: 13px;
  }

  .solution_benefits {
    margin-top: 0;
  }

  .solution_benefits h2 {
    margin-bottom: 2rem;
  }

  .card_benefit {
    width: 90%;
  }

  .card_benefit:nth-child(3) {
    height: 33vh;
  }

  .card_characteristics {
    height: 60vh;
  }

  .card_characteristics:nth-child(3) {
    height: 41vh !important;
  }

  .card_characteristics img {
    display: none;
  }

  .container_characteristics {
    width: 136%;
  }

  .characteristics {
    width: 82%;
    margin-left: 35px !important;
  }
}

@keyframes float-wrapper {
  0% {
    transform: scale(0.67);
  }
  50% {
    transform: scale(0.67, 0.68) translate3d(0, -8px, 0);
  }
  100% {
    transform: scale(0.67);
  }
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
