* {
  color: #f2f2f2;
  background: none;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  background-color: #0f26a2;
  text-decoration: none;
  line-height: 1.4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.image {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.white-koios {
  height: max-content;
  width: 7rem;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  margin-top: 1.5rem;
}

.social-networks svg {
  cursor: pointer;
}

.social-networks svg:hover rect,
.social-networks svg:hover path {
  transition: all 0.5s ease;
}

.social-networks svg:hover rect {
  fill: #f2f2f2;
  stroke: #bebebe;
}

.social-networks svg:hover path {
  fill: #011140;
}

.informations {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.back-top {
  display: flex;
  justify-content: center;
  align-items: end;
  align-self: self-end;
  color: #f2f2f2;
  cursor: pointer;
  margin-right: 50px;
  font-size: 29px;
  border: none;
  background-color: #751a7e;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.back-top:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.informations {
  display: flex;
}

.info-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.2rem;
}

.info-content-title {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 0.5rem;
}

.info-content-title svg {
  height: max-content;
  width: 1rem;
}

.info-content-text {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  font-weight: normal;
  font-size: 1rem;
  column-gap: 2rem;
}

.articles {
  display: flex;
  flex-direction: column;
  margin-left: 3.6rem;
}

.articles a {
  margin-bottom: 0.3rem;
  transition: 0.5s;
}

.articles span:hover,
.articles span:hover sup {
  color: #bebebe;
}

.articles span sup {
  font-size: 0.75em;
  vertical-align: super;
}

.bar-h {
  margin: 0.3rem 0;
  border: 0.5px solid #f2f2f2;
  width: 100%;
}

.footer,
.policys {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.policys {
  column-gap: 1rem;
}

@media screen and (max-width: 550px) {
  footer {
    padding: 0;
  }

  .footer {
    width: 95%;
  }

  .header {
    width: 95%;
  }

  .copyright {
    margin-left: 15px;
  }
}
