* {
  line-height: 1.4rem;
}

sup {
  color: #ff0000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 10rem 0 5rem 0;
}

.contact,
.form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 50%;
}

.form h2 {
  font-size: 15px;
  align-self: baseline;
}

form {
  margin-top: 30px;
}

.contact h2 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2.5rem;
}

.contact span {
  font-size: 13px;
}

.contacts_social {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 2rem;
}

.social_content {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.social_content svg {
  height: 1.5rem;
  width: max-content;
  margin-right: 2rem;
}

.contact_social-network {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 1.2rem;
}

.social-networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 1rem 0;
}

.social-networks svg {
  cursor: pointer;
}

.social-networks svg rect,
.social-networks svg path {
  transition: all 0.8s ease;
}

.social-networks svg:hover rect,
.social-networks svg:hover path {
  transition: all 0.8s ease;
}

.social-networks svg:hover rect {
  fill: #f2f2f2;
  stroke: #0f26a2;
}

.social-networks svg:hover path {
  fill: #0f26a2;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.wrapper_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.wrapper_form label {
  pointer-events: none;
  color: #8d8d8d;
  font-size: 13px;
}

.wrapper_form input,
.wrapper_form select,
.wrapper_form textarea {
  padding: 0.6rem 0.8rem;
  font-size: 13px;
  border-radius: 5px;
  border: solid 1px #c4ccff;
  width: 80%;
  background-color: #fcfcfc;
}

.wrapper_form input:focus,
.wrapper_form select:focus,
.wrapper_form textarea:focus {
  outline: none;
  border: solid 1px #8191ff;
}

.wrapper_radios,
.radio-buttons label {
  margin: 0.5rem 0;
  font-size: 13px;
}

.wrapper_radios label {
  color: #8d8d8d;
  font-size: 13px;
}

.wrapper_radios .radio-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
  width: 85%;
}

.wrapper_radios input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper_radios input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #f2f2f2;
  z-index: 1;
  color: #0043ed;
  font-weight: bold;
}

.radio-buttons label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

.radio-buttons label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

.radio-buttons label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}

.privacity {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  text-align: justify;
  width: 80%;
}

.privacity p {
  margin-bottom: 1rem;
  font-size: 13px;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 7rem;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  background-color: #0f26a2;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.hover-underline-animation {
  background: none;
  position: relative;
  color: #f2f2f2;
  width: 80%;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

form button:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .form {
    width: 80%;
  }

  form {
    justify-content: center;
    align-items: center;
  }

  .wrapper_form {
    width: 100%;
  }

  .wrapper_form input {
    width: 95%;
  }

  .wrapper_form textarea {
    width: 95%;
  }

  .wrapper_radios .radio-buttons {
    width: 100%;
  }

  .contact {
    margin-top: 6rem;
  }

  .contact h2 {
    font-size: 15px;
  }

  .contact span {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper_radios label {
    font-size: 11px;
  }
}
